## Visual Studio y herramientas de desarrollo
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Carpetas de compilación y binarios
[Bb]in/
[Oo]bj/

## Archivos de publicación y logs
*.log
*.tmp
publish/
_PublishedWebsites/

## Configuraciones locales y secretos de desarrollo
appsettings.Development.json
secrets.json
.env

## Herramientas de pruebas y cobertura
TestResults/
coverage/

## Paquetes NuGet
*.nupkg
packages/
!**/packages/build/